<style>.is-slim-hr {
  margin: 0.7rem 0;
}.documentTitle{    font-size: 1.1rem;
          text-transform: capitalize;}</style>
<body class="has-navbar-fixed-top">
{{> _navigation recordsActive="is-active"}}
<section class="hero is-small is-groovy">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title slim-book-read-streamline" style="font-size: 4rem; margin-bottom: 10px; margin-top: 10px"></h1>
      <h2 class="subtitle">
        Review Records
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container has-text-centered">
    <div class="columns">
      <div class="column">
        <h1 class="title">Papers</h1>
        {{#each paper}}
          <p class="documentTitle">{{articleTitle}}</p>
          <span class="has-text-dark-grey has-text-weight-light is-size-6">{{edition}}</span>
          <span class="has-text-dark-grey has-text-weight-light is-size-6">{{#if authors}}By: {{formatComma authors}}{{/if}}</span>
          <hr class="is-slim-hr"/>
        {{/each}}
      </div>
      <div class="column">
        <h1 class="title">Books</h1>
        {{#each book}}
          <p class="documentTitle">{{articleTitle}}{{pubTitle}}</p>
          <p class="has-text-dark-grey has-text-weight-light is-size-6">{{edition}}</p>
          <span class="has-text-dark-grey has-text-weight-light is-size-6">{{#if authors}}By: {{formatComma authors}}{{/if}}</span>
          <hr class="is-slim-hr"/>
        {{/each}}
      </div>
    </div>
  </div>
</section>
</body>

